

.wrapper {



}

.header {
    display: flex;
    width: 850px;
    height: 250px;
    background-color: darkblue;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.headerContainer{

    
}

.box{
    float:left;
    margin-right:15px;
    width:200px;
    height: 200px;
    border-radius: 5px;
    border: 2px solid black;
    padding:1em ;
    background-color: darkblue;
    position: absolute;
    top: 150px;
    
}

.headerText {
    position: absolute;
    top: 160px;
    left: 300px;

}

.webText {
    position: absolute;
    top: 215px;
    left: 300px;
}

.nav{
    display: flex;
    border: 1px solid black;
    justify-content: flex-end;
    width: 850px;



}

.tabs {
    padding: 14px 16px;

}

.nav a:hover{
    background-color: #3b5998;
    color: black;



}





